<form enctype="multipart/form-data" method="post">

    <div class="mb-3">
      <label for="" class="form-label">Usuario:</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre del Usuario">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Password:</label>
        <input type="text"
          class="form-control" name="" id="" aria-describedby="helpId" placeholder="Clave del Usuario">
        <small id="helpId" class="form-text text-muted">Help text</small>
      </div>
    
    </form>